footer{
    background: black;
    color: grey;
}

body {
    background: white;
}

.row {
    margin-bottom: 30px;
}

#header_title {
    color: grey;
}

.panel-internal-links {
    color: white;
}

.panel-internal-links:hover {
    color: black;
}