footer{
    background-color: #0c2047;
    color: #dee0e5;
    margin-top: 25px;
}

body {
    background: #ccd9ff;
}

.row {
    margin-bottom: 25px;
    margin-top: 25px;
}

.panel-internal-links {
    color: #dee0e5;
}

.panel-internal-links:hover {
    color: grey;
}

.panel-heading {
	background-color: #0c2047 !important;
}

.panel {
	border: 1px solid #0c2047;
}

.navbar .container-fluid{
	background-color: #0c2047;
	color: #dee0e5;
}

#navbrand, #requestlink{
    color: #dee0e5;
}

#navbrand:hover, #requestlink:hover {
    color: grey;
}

.navbar-header {
	color: #dee0e5;
}

#developer {
    padding-bottom: 15px;
}

.table-bordered td, .table-bordered th, .table {
    border: thin solid black !important;
    background: white !important;
    color: black !important;
}

.table-bordered th {
    background: darkred !important;
    color: #dee0e5 !important;
}

.table {
    margin-top: 25px;
    margin-bottom: 25px;
}
